<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <h1>Sign In</h1>
</head>
<body>
<form action="/SignIn", method="POST">
<table>
    <tr>
        <td>
            Email:
        </td>
        <td>
            <input type="text" email="" name="InEmail">
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="Password" name="InPass">
        </td>
    </tr>
</table>
    <input type="submit" value="SignIn" >
</form>
<div>
    <form action="/SignUp">
        <label>Sign Up Here</label>
        <input value="Sign Up" type="submit">
    </form>
</div>

</body>
</html>